<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-light bg-dark my-5">
        <div class="card-body">
          <p></p>
          <div>
            User Name : <input type="text" name="username" [(ngModel)]="username">
            Password : <input type="password" name="password" [(ngModel)]="password">
          </div>
          <p></p>
          <div style="text-align: center;">
            <button (click)=checkLogin() class="btn btn-success">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
